{% extends "revnal/base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<h1>REVNAL</h1>
<h2 style="align-text=center" align-text="center">Access Your Journal</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" name="email" id="email" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="pin" class="form-label">Secret PIN:</label>
        <input type="text" name="pin" id="pin" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Access Dashboard</button>
</form>
{% endblock %}
